### Java ###
.class

### Log4j ###
fileappender.log

### Linux ###
*~

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

### Libraries ###
# *.jar
*.war
*.ear

/bin/
/build/
/fileappender.log
/target/
